<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>

    <main>
        <h2> BIENVENIDO </h2>
        <P> Nombre: <%= user.firstName %></P>
        <p> Apellido: <%= user.lastName %></p>
        <p> Email: <%= user.email %></p>
    </main>

    <%- include("partials/footer") %>
</body>
</html>